
develop-eggs
develop-eggs/*
eggs
eggs/*

bin/*
bin

*.pyc
*.cfg


medialog.fullpagetheme.egg-info
medialog.fullpagetheme.egg-info/*


medialog.fullpagetheme.egg-info/PKG-INFO

medialog.fullpagetheme.egg-info/PKG-INFO

medialog.fullpagetheme.egg-info/SOURCES.txt

build/
buid/*
dist/