div.fp-tableCell {
	text-align: center;


/* 	font-size: 130%; */
	padding-top: 10%;
	padding-left: 0;
	padding-right: 0;
	overflow: scroll;
}

#mainnav {
	text-align: center;
	background: transparent;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

body #portal-globalnav {
	display: inline;
	position: relative;
}

#menu {
	position: absolute;
	top: 0;
	z-index: 9;
	text-align: center;
	width: 100%;
	margin-top: 0;
	padding: 1.6em 2em 1.2em;
	list-style-image: none;
	list-style-type: none;
	background: black;
}

#menu #portal-logo {
	margin-right: 2em;
	margin-top: 0;
}

.fp-viewing-0  #menu {
	background: #FFF;
}

.fp-viewing-0  #menu li a {
	color: #444;
}

body[class*="fp-viewing"]  #viewlet-above-content {
	display: none;
}

body[class*="fp-viewing-0"]  #viewlet-above-content {
	display: block;
}

#menu li {
	list-style-image: none;
	margin-left: 1.5em;
	padding-bottom: 3px;
	list-style-type: none;
	display: inline-block;
}

#menu li a {
	color: white;
}

#menu li:hover  a {
	text-decoration: none;
}

#menu li.active,
#menu li:hover {
	border-bottom: 2px solid white;
}

hr {
	clear: both;
}

.fp-viewing-0  #menu a {
	color: #CCC;
}

#portal-globalnav {
	position: fixed;
	z-index: 9;
	padding-bottom: 0;
}

.fp-tableCell .visualIEFloatFix {
	background: white;
	opacity: 0.8;
	max-width: 60%;
	margin: auto;
	padding: 1em;
	min-height: 15%;
	border-radius: 0.5em;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}

a.summary.url {
	color: #333;
	font-size: 190%;
	line-height: 200%;
}

div.description {
	font-weight: bold;
	padding: 0 1em 1em;
	font-size: 110%;
	color: #666;
}

p {
	font-size: 110%;
	line-height: 150%;
}

p.more {
	font-size: 90%;
	text-align: right;
}

img.newsImage {
	display: none;
}

/* Slider */

.slider {
	position: relative;
	min-height: 100%;
}

#main-slider li {
	position: relative;
	list-style-type: none;
	list-style-image: none;
	min-height: 100%;
}

.slide {
	background-position: center center;
	
}

@media (max-width: 768px) {

.container {
	margin: 0 10px;
}

h1 {
	font-size: 26px !important;
}

}

@media  (min-width: 769px) {

h1 {
	font-size: 34px !important;
}

}