/* Stylesheet for the 'ICustomTheme' Plone browser layer */

div.fp-tableCell {
	text-align: center;
	font-size: 130%;
	padding-top: 25%;
}


#portal-globalnav {
	position: relative;
	z-index: 9;
	padding-bottom: 0;
	display: none;
}

.item {
      background-position: left center !important;
      background-size: cover;
      }

#navbar-collapse-1 { font-size: medium;}
        .item.table { margin: 0;}
        .controlArrow { opacity: 0.5;}
        .controlArrow:hover { opacity: 1;}
        

@media (max-width: 768px) {
            .container { margin:0 10px;}
            h1{ font-size: 26px !important;	}
 
        }
        
@media  (min-width: 769px)  {
            h1{ font-size: 34px !important;	}
 
        }
 